<<<<<<< HEAD

=======
>>>>>>> b30b129914a6734ad554158509ccbbe02392a255
<p>ID: <%= user.facebookID %></p>
<p>Name: <%= user.name %></p>
<<<<<<< HEAD

=======
>>>>>>> b30b129914a6734ad554158509ccbbe02392a255
